
.moviesPage {
  padding: 32px 0 0;
}

.breadcrumbs {
  margin-bottom: 24px;
  &__current {
    color: rgba(255,255,255,.56);
    font-size: 13px;
    margin-left: 5px;
    &::before {
      content: '/';
      margin-right: 5px;
    }
  }
  &__link {
    color: white;
    font-size: 13px;
    box-shadow: 0 2px 0 #6152a8, inset 0 0 0 #6152a8;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}