@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

$title-font: 'Source Sans Pro';
$common-font: 'Raleway';
$header-color: #281f55;
$main-color: #f8104d;
$bg-color: #1d1642;
$bg-slider-color: #110d2b;
$shadow-color: #989898;
$marker-color: #a859f0;
$under-color: #6152a8;
$link-color: #968acf;
$bg-person-color: #f6f5ff;
$text-color: #25213f;
$footer-height: 240px;
$header-height: 60px;

@mixin transition() {
  transition: 0.3s ease;
}

@mixin sizes($width, $height) {
  width: $width;
  height: $height;
}

body {
  overflow-x: hidden;
  color: white;
}

button {
  outline: none !important;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.small-container {
  width: 940px;
  margin: 0 auto;
}

.main-bg {
  background: $bg-color;
  min-height: 100vh;
}
.main-content {
  padding-top: $header-height;
  min-height: calc(100vh - #{$footer-height});
}

// for input
.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.line {
  background: $main-color;
  height: 100%;
  border-radius: 10px;
}

.page-title {
  font-size: 40px;
  line-height: 44px;
  font-weight: 900;
  font-style: normal;
}
.page-description {
  font-size: 16px;
  color: #c8c0ed;
  max-width: 910px;
}